.button {
  color: #fff;
  background-color: #5bc0de;

  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
}

.button:hover {
  background-color: #3ca8c9;
}

.button:active {
  background-color: #21768c;
  transform: scale(0.98);
}
